body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h1 {
    text-align: center;
    color: #333;
  }
  
  .login-container form {
    margin-top: 30px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px
  }
  
  .login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
  .login-container label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  .login-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 15px
  }
  
  .login-container button[type="submit"]:hover {
    background-color: #45a049;
  }

  .login-container label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  .login-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .login-container button:hover {
    background-color: #1976D2;
  }
  
  .login-container .create-client-button {
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-container .create-client-button:hover {
    background-color: #1976D2;
  }
  
  .login-container .create-client-button-yellow {
    background-color: rgb(241, 222, 9);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .login-container .create-client-button-yellow:hover {
    background-color: #ccc615;
  }
  
  .login-container .create-client-button-green {
    background-color: rgb(21, 161, 42);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .login-container .create-client-button-green:hover {
    background-color: #0e8a16;
  }

  .login-container .create-client-button2 {
    background-color: #e01313;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-container .create-client-button2:hover {
    background-color: #aa130e;
  }
  